.main-container{
  width: 400px;
  min-height: 250px; 
  max-height: 600px;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-header{
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
}